

.gridcontainer {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
  grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
}

.graphbox{
  grid-column: 12/21;
  grid-row: 1/4;
  background-color: #f53234;
}

.tablebox{
  grid-column: 1/21;
  grid-row: 9/21;
}

.statbox{
  grid-column: 1/16;
  grid-row: 1/9;
  overflow: hidden;
}

.statboxtopright{
  grid-column: 8/16;
  grid-row: 1/4;
  overflow: hidden;
}

.statboxbottomright{
  grid-column: 8/16;
  grid-row: 4/9;
  overflow: hidden;
}

.statboxleft{
  grid-column: 1/8;
  grid-row: 1/9;
  overflow: hidden;
}

.statChanger {
   animation: statChangeNotice 1s linear;
   width: 100%;
   text-align: left;
}

@keyframes statChangeNotice {
  0% {
    color: #e8f1f5;
    font-size: 10px;
  }
  30% {
    opacity: 0.9;
    color: #f53234;
    font-size: 13px;
  }
  80% {
    font-size: 14px;
    color: #e8f1f5;
  }
  100% {
    font-size: 10px;
    color: #e8f1f5;
  }
}


thead[class*="ant-table-thead"] th{
  color: #2b8ca3 !important;
  background-color: #DEE0E0 !important;
}

th.USER_NAME{
  text-align: left !important;
  width: 10vw;
}
td.USER_NAME {
  text-align: left !important;
  /* background-color: red; */
  width: 10vw;
}

th.EMPLOYEE_ID{
  text-align: left !important;
  width: 10vw;
}
td.EMPLOYEE_ID {
  text-align: left !important;
  /* background-color: orange; */
  width: 10vw;
}

th.DAYS_SINCE_LAST_LOGIN{
  text-align: left !important;
  width: 10vw;
}
td.DAYS_SINCE_LAST_LOGIN {
  text-align: left !important;
  /* background-color: yellow; */
  width: 10vw;
}

th.LAST_LOGON_DATE{
  text-align: left !important;
  width: 10vw;
}
td.LAST_LOGON_DATE {
  text-align: left !important;
  /* background-color: green; */
  width: 10vw;
}

th.DESCRIPTION{
  text-align: left !important;
  /* background-color: blue; */
  width: 10vw;
}
td.DESCRIPTION {
  text-align: left !important;
  /* background-color: violet; */
  width: 10vw;
}
